@if (ticket(); as ticket) {
  <div class="ticket-body">
    <!-- Title block -->
    <div class="title-block">
      <div class="priority-wrapper">
        <app-priority-chip />
      </div>
      <h1 class="ticket-title">{{ ticket.title }}</h1>
    </div>

    <!-- Meta row -->
    <app-meta-row [ticket]="ticket" />

    <!-- Description -->
    <div class="section-label">DESCRIPTION</div>
    <div class="description">
      <app-rich-text [doc]="ticket.description" />
    </div>

    <!-- Stack trace -->
<!--    <app-stack-trace [html]="ticket.stackTraceHtml" [label]="ticket.stackTraceLabel" />-->

    <!-- Comments -->
    <div class="section-label">COMMENTS · {{ ticket.comments.length }}</div>
    <div class="comments">
      @for (comment of ticket.comments; track comment.id) {
        <app-comment [comment]="comment" />
      }
    </div>
  </div>
}
